header,footer {
	padding:0.5em;
	color:white;
	background-color:gray;
}
h1.header {
	padding 0;
	margin 0;
}
aside{
	float:left;
	width:160px;
	margin:0;
	padding:1em;
}
ul{
	float:left;
	width:100%;
	padding:0;
	margin:0;
	list-style-type:none;
}
a{
	float:left;
	width:15%;
	text-decoration:none;
	color:white;
	background-color:rgb(53,128,0);
	padding:0.2em 0.6em;
	border-right:1px solid white;
}
a.active{
	border-bottom:5px solid blue;
}
a:hover{background-color:#ff3300}
li{
	display:inline;
}
#div1 {width:400px;height:300px;padding:10px;border:1px solid #aaaaaa;display: flex; align-items:center;justify-content:center;} 
#mycanvas{width: 200px; height:100px;display:flex;justify-content:flex-end;} 
